@import "../styles/mixins.scss";
@import "../styles/variables.scss";

.nav {
  position: fixed;
  flex-direction: column;
  align-items: flex-end;
  top: 50%;
  right: 64px;
  transform: translateY(-50%);
  z-index: 10;
  @include myFlex;

  &__button {
    height: 60px;
    border-radius: 2px;
    flex-direction: row-reverse;
    background-color: transparent;
    border: none;
    @include myFlex;

    &Bar {
      display: block;
      height: 60px;
      width: 3px;
      background-color: #707070;
      border-radius: 2px;
    }

    &Text {
      white-space: nowrap;
      color: transparent;
      line-height: 60px;
      font-size: 18px;
      font-weight: 600;
      margin-right: 20px;
    }

    &:hover {
      cursor: pointer;

      .nav__buttonText {
        color: #cfcfcf;
      }
    }
  }

  &__dot {
    display: block;
    height: 3px;
    width: 3px;
    border-radius: 50%;
    margin: 20px 0;
    background-color: #707070;
  }

  .nav__button.active {
    .nav__buttonBar {
      background-color: #fff;
      box-shadow: 0px 0px 5px #fff;
    }

    .nav__buttonText {
      color: #fff;
    }
  }
}

.navMobile {
  display: none;
}

@media (max-width: $mobile) {
  .nav {
    display: none;
  }

  .navMobile {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .navMobile__buttonsIcon_wrapper {
      position: fixed;
      top: 16px;
      right: 32px;
      background-color: transparent;
      border: 0;
      z-index: 101;

      &__icon {
        width: 32px;
        height: 32px;
      }
    }

    .navMobile__buttonsWrapper {
      @include myFlex;
      position: fixed;
      right: -100%;
      top: 0;
      height: 100%;
      width: 265px;
      background-color: rgba(0, 0, 0, 0.6);
      flex-direction: column;
      padding-top: 64px;
      transition: transform 0.3s ease;
      z-index: 100;

      .navMobile__button {
        background: none;
        border: none;
        color: white;
        font-size: 20px;
        font-weight: 600;
        padding: 10px 0;
        width: 100%;
        margin-bottom: 10px;
        cursor: pointer;

        &Text {
          padding: 0 20px;
        }

        &:hover {
          color: #cfcfcf;
        }
      }
    }

    .navMobile__show {
      transform: translateX(-100%);
    }
  }
}
