@import "../styles/mixins.scss" ;
@import "../styles/variables.scss" ;

.nav{
  position: fixed;
  flex-direction: column;
  align-items: flex-end;
  top: 50%;
  right: 64px;
  transform: translateY(-50%); 
  z-index: 10;
  @include myFlex;

  &__button{
    height: 60px;
    border-radius: 2px;
    flex-direction: row-reverse;
    background-color: transparent;
    border: none;
    @include myFlex;

    &Bar{
      display: block;
      height: 60px;
      width: 3px;
      background-color: #707070;
      border-radius: 2px;
    }

    &Text{
      white-space: nowrap;
      color: transparent;
      line-height: 60px;
      font-size: 18px;
      font-weight: 600;
      margin-right: 20px;
    }

    &:hover{
      cursor: pointer;

      .nav__buttonText{
        color: #cfcfcf;
      }
    }
  }

  &__dot{
    display: block;
    height: 3px;
    width: 3px;
    border-radius: 50%;
    margin: 20px 0;
    background-color: #707070;
  }

  .nav__button.active{
    .nav__buttonBar{
      background-color: #fff;
      box-shadow: 0px 0px 5px #fff;
    }

    .nav__buttonText{
      color: #fff;
    }
  }
}

.navMobile {
  display: none;
}

@media (max-width: $mobile) {
  .nav {
    display: none;
  }

  .navMobile {
    @include myFlex;

    .navMobile__buttonsIcon_wrapper{
      position: fixed;
      top: 16px;
      right: 32px;
      background-color: transparent;
      border: 0;
      z-index: 100;
    }

    .navMobile__buttonsWrapper{
      position: fixed;
      right: 32px;
      top: 50px;
      flex-direction: column;
      align-items: flex-end;
      z-index: 100;
      @include myFlex;

      .navMobile__button {
        margin-top: 10px;
        background: radial-gradient(circle at 35% 15%, #444, #222 40%);
        border: 1px solid white;
        color: white;
        font-size: 20px;
        font-weight: 600;
        padding: 6px 0;
        text-align: center;
        width: 140px;
      }
    }
  }
}