@import "../styles/mixins.scss" ;
@import "../styles/variables.scss" ;

.nav{
  flex-direction: column;
  position: fixed;
  align-items: flex-end;
  top: 50%;
  right: 32px;
  transform: translateY(-50%); 
  @include myFlex;

  &__button{
    width: 10px;
    height: 50px;
    box-sizing: border-box;
    overflow: hidden;
    color: transparent;

    &:hover{
      cursor: pointer;
      width: auto;
      color: black;
    }
  }
}